[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
scikit-learn = "*"
yapf = "*"

[packages]
numpy = "*"
tqdm = {editable = true,git = "https://github.com/tqdm/tqdm.git",ref = "master"}

[requires]
python_version = "3.6"
